.form-icon #circle {
  fill: var(--color-neutral);
}

.form-icon #number {
  fill: #000;
}

.form-icon:hover #circle {
  fill: var(--color-primary);
}

.form-icon:hover #number {
  fill: #fff;
}

.btn:hover {
  background-color: var(--color-primary-light);
}
