.footer {
  background-color: var(--color-primary-light);
}

.footer p {
  color: #fff;
}

.nav {
  padding: 15px 30px;
  margin-bottom: .5em;
  color: #fff;
  font-family: var(--font-primary);
  background-color: var(--color-primary-light);
  border: 2px solid #fff;
  text-decoration: none;
}

.nav:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.icon-nav a {
  color: var(--color-primary);
}

.icon-nav a:hover {
  color: var(--color-secondary);
}

.contact {
  font-family: var(--font-primary);
  color: #fff;
}

.white-heading {
  color: #fff;
}
