.banner {
  overflow: hidden;
  position: relative;
  max-height: 500px;
  width: 100%;
}

.banner-image-1 {
  background-image: url("../../images/banner.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
}

.banner-image-2 {
  background-image: url("../../images/banner-2.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
}

.banner-content {
  position: absolute;
  bottom: 0;
}
