.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: var(--color-primary);
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

input,
textarea {
  border-color: var(--color-primary);
}

input[type="checkbox"] + label::before {
  border-color: var(--color-primary);
}
