.adoptioncards .unit:nth-child(1) .adoptioncard,
.adoptioncards .unit:nth-child(2) .adoptioncard,
.adoptioncards .unit:nth-child(3) .adoptioncard {
  border-bottom: 3px solid var(--color-primary);
}

.adoptioncard-image {
  background-position: center center;
  background-size: cover;
  min-height: 15em;
}

@media only screen and (min-width: 60em) {

  .adoptioncards .unit:nth-child(3) .adoptioncard {
    border-bottom: hidden;
  }

  .adoptioncards .unit:nth-child(2) .adoptioncard,
  .adoptioncards .unit:nth-child(4) .adoptioncard {
    border-left: 3px solid var(--color-primary);
  }

}
