.newsletter-body {
  margin: 0;
  background-color: var(--color-primary);
}

.img-flex {
  display: block;
  width: 100%;
}

.newsletter-body h1 {
  margin: 0;
  padding: 1rem;
  color: #fff;
}

.newsletter-body h2 {
  font-size: 1rem;
  padding: 0 1rem;
  margin-bottom: 0;
  color: #fff;
}

.newsletter-body p {
  margin: 0 1rem 1rem;
  color: #fff;
}

.btn-news {
  text-decoration: none;
  padding: .5em .75em;
  display: inline-block;
  margin: .5em 1em;
  font-size: 1.125rem;
  text-align: center;
  background-color: var(--color-primary);
  border: 2px solid #fff;
}

.btn-news:hover {
  background-color: var(--color-primary-light);
  border: 2px solid #fff;
}

.text-section {
  margin: 0;
  background-color: #fff;
}

.h1-text {
  color: var(--color-primary);
  text-align: center;
}

.p-text {
  text-align: center;
  color: var(--color-secondary);
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .photo, .content {
    display: inline-block;
    max-width: 49.4999%;
    vertical-align: middle;
  }

  .newsletter-body h1 {
    padding-top: 2rem;
  }

  .btn {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .newsletter-body {
    padding: 2rem 0;
  }

  .newsletter-body h1 {
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .content, .photo {
    max-width: 33.3333%;
  }

  .newsletter-body {
    text-align: center;
  }
}
