.newsletter-body {
  margin: 0;
  background-color: var(--color-primary);
}

section {
  text-align: left;
}

.img-flex {
  display: block;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 1rem;
  color: #fff;
}

h2 {
  font-size: 1rem;
  padding: 0 1rem;
  margin-bottom: 0;
  color: #fff;
}

p {
  margin: 0 1rem 1rem;
  color: #fff;
}

a {
  text-decoration: none;
  padding: .5em .75em;
  display: inline-block;
  margin: .5em 1.75em;
  font-size: 1.125rem;
  text-align: center;
  background-color: #fff;
}

a:hover {
  background-color: var(--color-secondary);
}

.text-section {
  border-top: 3px solid var(--color-primary);
  border-bottom: 3px solid var(--color-primary);
  margin: 0;
  background-color: #fff;
}

.h1-text {
  color: var(--color-secondary);
}

.p-text {
  color: var(--color-secondary);
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .photo, .content {
    display: inline-block;
    max-width: 49.4999%;
    vertical-align: middle;
  }

  h1 {
    padding-top: 2rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  section {
    padding: 2rem 0;
  }

  h1 {
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .content, .photo {
    max-width: 33.3333%;
  }

  section {
    text-align: center;
  }
}
